.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

/* Estilos generales */
html {
  scroll-behavior: smooth; /* Desplazamiento suave */
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #ffffff;
  color: #4a90e2;
}

/* Estilos del header */
header {
  background: #4a90e2;
  padding: 20px 10px 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed; /* Fija el header */
  width: 100%;
  top: 0;
  z-index: 1000;
  gap: 20px; 
}
header img {
  height: 50px;
  width: auto;
}
header div {
  padding: 0 20px;
  display: flex;
}
nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  padding: 0 20px;
}
nav a {
  color: #ffffff;
  margin: 0 15px;
  text-decoration: none;
  position: relative;
  transition: color 0.3s;
}
nav a:hover {
  color: #ffffff;
  opacity: 0.8;
}
nav a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: #ffffff;
  bottom: -5px;
  left: 0;
  transition: width 0.3s;
}
nav a:hover::after {
  width: 100%;
}

/* Estilos del index.html */
.hero {
  /* background: url("./assets/images/hero.jpg") center/cover; */
  background-color: #1a3c87;
  padding: 100px 20px;
  text-align: center;
  color: #ffffff;
  border-radius: 0 0 12px 12px;
}
.hero h1 {
  font-size: 2.5em;
  margin: 0;
}
.hero p {
  font-family: "Open Sans", sans-serif;
  color: #ffffff;
  font-size: 1.2em;
}
.hero a {
  background: #00C4CC;
  color: #ffffff;
  padding: 12px 32px;
  font-size: 1.2em;
  text-decoration: none;
  display: inline-block;
  transition: background 0.3s, transform 0.3s, color 0.3s;
  border-radius: 8px;
}
.hero a:hover {
  background: #ffffff;
  color: #4A90E2;
  transform: scale(1.05);
}
.services {
  padding: 50px 20px;
  text-align: center;
  background: #ffffff;
}
.services h2 {
  font-size: 2em;
  color: #4a90e2;
}
.service-grid {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.service-card {
  background: #f5f5f5;
  padding: 20px;
  width: 200px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  transition: transform 0.3s;
  margin: 10px;
}
.service-card:hover {
  transform: translateY(-5px);
}
.service-card img {
  width: 100%;
  height: 120px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: transform 0.3s ease-in-out;
}
.service-card img:hover {
  transform: scale(1.05);
}
.service-card i {
  font-size: 2em;
  color: #4a90e2;
  display: block;
  margin-bottom: 10px;
}
.service-card h3 {
  font-size: 1.2em;
  margin: 10px 0;
  color: #4a90e2;
}
.service-card p {
  font-family: "Open Sans", sans-serif;
  color: #757575;
  font-size: 0.9em;
}
.service-card .button {
  background: #00c4cc;
  color: #ffffff;
  border: none;
  padding: 8px 15px;
  margin-top: 10px;
  cursor: pointer;
  text-decoration: none;
  display: inline-block;
  transition: background 0.3s, transform 0.3s;
  border-radius: 8px;
}
.service-card .button:hover {
  background: #4a90e2;
  transform: scale(1.05);
  color: #ffffff;
  text-decoration: none;
}
.works {
  padding: 50px 20px;
  text-align: center;
  background: #f5f5f5;
}
.works h2 {
  font-size: 2em;
  color: #4a90e2;
}
.work-slider {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
}
.work-slider img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 12px;
  display: none;
  transition: opacity 0.5s ease-in-out;
}
.work-slider img.active {
  display: block;
  opacity: 1;
}
.work-slider p {
  font-family: "Open Sans", sans-serif;
  color: #757575;
  margin-top: 10px;
}
.testimonials {
  padding: 50px 20px;
  text-align: center;
  background: #ffffff;
}
.testimonials h2 {
  font-size: 2em;
  color: #4a90e2;
}
.testimonial-slider {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
}
.testimonial-slider blockquote {
  display: none;
  padding: 20px;
  background: #f5f5f5;
  border-radius: 8px;
  font-family: "Open Sans", sans-serif;
  color: #757575;
  font-style: italic;
  transition: opacity 0.5s ease-in-out;
}
.testimonial-slider blockquote.active {
  display: block;
  opacity: 1;
}
.testimonial-slider h4 {
  margin-top: 10px;
  font-family: "Poppins", sans-serif;
  color: #4a90e2;
  font-style: normal;
}
.cta-section {
  padding: 50px 20px;
  text-align: center;
  background: #4a90e2;
  color: #ffffff;
  margin-top: 3em;
  border-radius: 12px 12px 0 0;
}
.cta-section h2 {
  font-size: 2em;
}
.cta-section a {
  background: #ffffff;
  color: #4a90e2;
  padding: 12px 24px;
  font-size: 1.2em;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition:
    background 0.3s,
    color 0.3s;
}
.cta-section a:hover {
  background: #00c4cc;
  color: #ffffff;
}
.contacto {
  padding: 50px 20px;
  text-align: center;
  background: #ffffff;
}
.contact h2 {
  font-size: 2em;
  color: #4a90e2;
}
.contact form {
  max-width: 500px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.contact label {
  font-family: "Open Sans", sans-serif;
  color: #757575;
  text-align: left;
}
.contact input,
.contact textarea {
  padding: 10px;
  border: 1px solid #e8ecef;
  border-radius: 5px;
  font-family: "Open Sans", sans-serif;
}
.contact button {
  background: #00c4cc;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition:
    background 0.3s,
    transform 0.3s;
  border-radius: 8px;
}
.contact button:hover {
  background: #4a90e2;
  transform: scale(1.05);
}
.contact .whatsapp-btn {
  background: #25d366;
  color: #ffffff;
  padding: 12px 24px;
  text-decoration: none;
  border-radius: 8px;
  margin-top: 10px;
  display: inline-block;
  transition: background 0.3s;
}
.contact .whatsapp-btn:hover {
  background: #1da851;
}

/* Estilos del servicios.html */
.our-services {
  padding: 0;
  text-align: center;
  background: #ffffff;
  min-height: 100vh; /* Asegura que ocupe al menos la altura de la pantalla */
}
.service-intro {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex-wrap: wrap;
}
.service-text-intro {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  text-align: left;
  border-radius: 12px;
  transition: transform 0.3s;
  width: 45%;
  min-width: 300px;
  flex-grow: 1;
  max-width: 50%;
  min-height: 200px;
  font-family: 'Montserrat', sans-serif;
}
.service-text-intro h2 {
  font-size: 4rem;
  text-align: center;
}
.service-text-intro p {
  font-size: 2rem;
  text-align: center;
}
.service-image-intro {
  display: flex;
  justify-content: center;
  align-items: center; /* Centramos las imágenes verticalmente */
  width: 50%;
  border-radius: 12px;
  transition: transform 0.3s;
  margin: 10px;
  min-width: 300px;
  flex-grow: 1;
  padding: 10px; /* Añadimos padding para consistencia */
}
.service-image-intro img {
  width: 60%;
  height: auto; /* Permitimos que la altura se ajuste al contenido */
  object-fit: contain;
  border-radius: 12px;
  transition: transform 0.3s;
}
.service-text {
  display: flex;
  flex: auto;
  flex-direction: column;
  text-align: center;
  justify-content: center; /* Centramos el texto verticalmente */
  border-radius: 12px;
  transition: transform 0.3s;
  width: 45%;
  min-width: 300px;
  flex-grow: 1;
  max-width: 50%;
  min-height: 200px;
  margin: 20px 20px 20px 20px;
  padding: 20px; /* Añadimos padding para que el texto respire */
  font-family: 'Montserrat', sans-serif;
}
.service-text h3 {
  font-weight: 700;
  text-align: center;
  font-size: 4rem;
}
.service-text p {
  font-weight: 500;
  font-size: 2rem;
  text-align: center;
}
.service-image {
  display: flex;
  justify-content: center;
  align-items: center; /* Centramos las imágenes verticalmente */
  width: 50%;
  border-radius: 12px;
  transition: transform 0.3s;
  margin: 10px;
  min-width: 300px;
  flex-grow: 1;
  padding: 10px; /* Añadimos padding para consistencia */
}
.service-image img {
  width: 100%;
  height: auto; /* Permitimos que la altura se ajuste al contenido */
  object-fit: contain;
  border-radius: 12px;
  transition: transform 0.3s;
}
.service-divider {
  display: none; /* Eliminamos el divisor para el diseño full-screen */
}
.service-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
}
.service-section {
  display: flex;
  flex-direction: row;
  background: #F5F5F5;
  border-radius: 20px;
  margin: 0;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}
.gallery-full-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  text-align: center;
  background: #ffffff;
  font-size: 2rem;
}
.gallery-slider {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100vh; /* Altura ajustada para el slider dentro de la sección */
  overflow: hidden;
  position: relative;
}
.gallery-slider .slide-fotos { 
  width: 100%; 
  height: 100vh; /* Altura base adaptable */
  min-height: 400px; /* Mínimo para pantallas grandes */
  max-height: 600px; /* Máximo para evitar que crezca demasiado */
  overflow: hidden; 
  position: relative;
  border-radius: 1%;
}
.slide-fotos { 
  width: 100%; 
  height: 70vh; /* Altura base adaptable */
  min-height: 400px; /* Mínimo para pantallas grandes */
  max-height: 600px; /* Máximo para evitar que crezca demasiado */
  overflow: hidden; 
  position: relative;
  border-radius: 1%;
}
.slider--inner { 
  display: flex; 
  height: 100%; 
  transition: transform 0.6s ease-in-out; 
  width: 100%; /* Aseguramos que el ancho inicial sea 100% */
}
.slide-img { 
  width: 100%; 
  height: 100%; /* Ocupa toda la altura del contenedor */
  object-fit: cover; /* Llena el espacio */
  min-width: 0; /* Evita problemas con el flex */
}

/* Estilos del footer */
footer {
  background: #1a3c87;
  color: #ffffff;
  text-align: center;
  padding: 50px;
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
footer a {
  color: #e8ecef;
  margin: 0 10px;
  text-decoration: none;
  transition: color 0.3s;
}
footer a:hover {
  color: #00c4cc;
}
.links-footer {
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.links-footer .links-footer-urls {
  padding: 10px 0;
}
.contact-btn {
  background: none;
  border: none;
}
.contact-btn a {
  background: #ffffff;
  color: #4a90e2;
  padding: 12px 24px;
  font-size: 1.2em;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
  transition:
    background 0.3s,
    color 0.3s;
}
.contact-btn a:hover {
  background: #00c4cc;
  color: #ffffff;
}
.social-links {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  padding: 10px 0;
  gap: 4rem;
}
.social-links .social-links-icons {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  gap: 2rem;
}
/* Estilos del botón de subir */
#topBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #00c4cc;
  color: #ffffff;
  border: none;
  padding: 10px 15px;
  border-radius: 50%;
  cursor: pointer;
  display: none;
  transition: background 0.3s;
}
#topBtn:hover {
  background: #4a90e2;
}

/* Animaciones personalizadas */
.fade-in-up {
  opacity: 0;
  transform: translateY(20px);
  transition: all 0.6s ease-out;
}
.fade-in-up.visible {
  opacity: 1;
}

.slide-in-left {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.slide-in-left.visible {
  opacity: 1;
  transform: translateX(0);
}

.slide-in-right {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}
.slide-in-right.visible {
  opacity: 1;
  transform: translateX(0);
}

.fade-in {
  opacity: 0;
  transition: opacity 0.6s ease-in-out;
}
.fade-in.visible {
  opacity: 1;
}

/* Asegura que las animaciones se apliquen solo a los elementos de our-services */
.our-services .fade-in-up,
.our-services .slide-in-left,
.our-services .slide-in-right,
.our-services .fade-in {
  opacity: 0;
}

.our-services .visible {
  opacity: 1;
}

/* Estilos para secciones de pantalla completa */
.full-screen-section {
  height: 100vh; /* Altura completa de la pantalla */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  margin: 0; /* Eliminamos márgenes para un diseño más limpio */
}

/* Estilos responsivos */
@media (max-width: 1024px) {
  .slide-fotos {
    height: 60vh; /* Reducimos un poco para pantallas medianas */
    min-height: 350px;
    max-height: 500px;
  }
  .service-text h3 {
    font-size: 3rem; /* Reducimos el tamaño del texto para pantallas medianas */
  }
  .service-text p {
    font-size: 1.5rem;
  }
}

@media (max-width: 768px) {
  .service-grid,
  .work-slider,
  .testimonial-slider,
  .gallery-slider {
    flex-direction: column;
    align-items: center;
  }
  .hero {
    padding: 50px 10px;
  }
  .hero h1 {
    font-size: 2em;
  }
  .hero p {
    font-size: 1em;
  }
  .service-card {
    width: 100%;
    max-width: 300px;
  }
  .work-slider img {
    height: 200px;
  }
  .testimonial-slider blockquote {
    font-size: 0.9em;
  }
  .full-screen-section {
    height: auto; /* Ajusta la altura en pantallas pequeñas */
    min-height: 100vh;
  }
  .service-text,
  .service-image {
    width: 100%;
    max-width: 100%;
    height: auto; /* Permitimos que la altura se ajuste al contenido en móviles */
  }
  .service-section {
    flex-direction: column; /* Cambiamos a columna en móviles */
    height: auto; /* Ajustamos la altura para que se adapte al contenido */
    min-height: 100vh; /* Mínimo una pantalla completa */
  }
  .service-text h3 {
    font-size: 2.5rem; /* Reducimos aún más para móviles */
  }
  .service-text p {
    font-size: 1.2rem;
  }
  .service-image img {
    height: auto;
  }
  .slide-fotos {
    height: 50vh; /* Ajustamos la altura del slider en móviles */
    min-height: 300px;
    max-height: 400px;
  }
  .gallery-slider {
    height: 60vh; /* Ajusta la altura del slider en móviles */
  }
}

/* Estilos responsive del footer */
@media (max-width: 890px) {
  footer {
    flex-direction: column;
  }
  .links-footer {
    padding: 10px 0;
  }
  .social-links {
    gap: 3rem;
  }
  .social-links .social-links-icons {
    gap: 3rem;
  }
}